/* TODO:Task 3 */

#gallery {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

#gallery li {
    padding: 10px;
}

#gallery li img {
    width: 100%;
}

/* TODO:Task 6 */

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }